[
  {
    title: "Nissan Project"
    group: "cdt-work"
    paths: [
      "~/cdt-nissan-2017"
    ]
  }
  {
    title: "cdt-work"
    group: "cdt-work"
    paths: [
      "~/cdt-work"
    ]
    icon: "icon-server"
  }
  {
    title: "uni-work"
    group: "uni-work"
    paths: [
      "~/uni-work"
    ]
  }
  {
    title: "Cloud Performance"
    paths: [
      "~/cloud-performance"
    ]
    icon: "icon-server"
  }
  {
    title: "Microbit Samples"
    paths: [
      "~/microbit-samples"
    ]
  }
  {
    title: "Haskell"
    paths: [
      "~/Haskell/striot"
      "~/Desktop/haskell-hash-test"
      "~/Desktop/haskell-kafka"
      "~/Desktop/haskell-msgpack"
      "~/Desktop/haskell-rmq"
      "~/Desktop/haskell-amq"
      "~/Desktop/haskell-wsk-test"
      "~/Desktop/striot-maybe"
      "~/Desktop/test-thread-unagi"
      "~/Haskell/backup-di-haskell"
      "~/Haskell/benchmarks"
      "~/Haskell/deployment"
      "~/Haskell/haskell-learn"
      "~/Haskell/phd-research"
      "~/Haskell/phd-work"
      "~/openwhisk"
      "~/Desktop/haskell-amq-mqtt"
    ]
  }
  {
    title: "CSC8104"
    paths: [
      "~/csc8104/csc8104-doc"
      "~/csc8104/csc8104-model-hfirth"
      "~/csc8104/jboss-wfk-quickstarts"
      "~/csc8104/csc8104-assignment"
      "~/csc8104/enterprise-middleware-coursework"
      "~/csc8104/notes"
      "~/csc8104/csc8104-states"
      "~/csc8104/csc8104-instances"
    ]
  }
  {
    title: "Dotfiles"
    paths: [
      "~/dotfiles-initial"
      "~/.dotfiles"
    ]
    icon: "icon-sync"
  }
]
