# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

#### Haskell Snippets ####

'.source.haskell':

  'print …':
    'prefix': 'pr'
    'body': 'print "$1"$2'

  'block comment …':
    'prefix': 'blockc'
    'body': '{- $1 -}$2'

  'lambda …':
    'prefix': 'lam'
    'body': '\\\\${1:x} -> $2'

#### LaTeX Snippets ####

'.text.tex.latex':

  'italics …':
    'prefix': 'ita'
    'body': '\\\\textit{$1} $2'

  'bold …':
    'prefix': 'bold'
    'body': '\\\\textbf{$1} $2'

  'emphasis …':
    'prefix': 'em'
    'body': '\\\\emph{$1} $2'

  '*section …':
    'prefix': '*section'
    'body': """\\\\section*{$1}
        $2
        """

  '*subsection …':
    'prefix': '*subsection'
    'body': """\\\\subsection*{$1}
        $2
        """

  '*subsubsection …':
    'prefix': '*subsubsection'
    'body': """\\\\subsubsection*{$1}
        $2
        """

#### ASCIIDOC Snippets ####

'.source.asciidoc':

  'code block …':
    'prefix': 'code'
    'body': """
        [${1:source},${2:bash}]
        ----
        $3
        ----
        $4
        """
